.form-control::-webkit-input-placeholder { color: rgb(180, 180, 180); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgb(180, 180, 180); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgb(180, 180, 180); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgb(180, 180, 180); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgb(180, 180, 180); }  /* Microsoft Edge */

body {
  background-color: rgb(240, 240, 240);
}


.navbar-toggler {
 border-color: #007bff;
}

.navbar-toggler:focus {
 outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(66,139,202)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 /*background-image with hexcode needed to change color of three lines (#FFFFFF is white) */
}

#category-select {
  margin-bottom: 0.7rem;
}

/* .book-image {
  float: right;
  width: 100px;
  height: 150px;
} */

.book {
  margin-bottom: 0.7rem;
}
.book-details h5, .progress-text p, .chapter-div h6 {
  color: grey;
}

@media only screen and (max-width: 500px) {
  .buttons-row {
    margin-top: 1rem;
    margin-left: 0.7rem;
  }
}



.remove-btn {
  margin-left: -0.6rem;
  margin-right: 10px;
  float: left;
  padding-right: 1rem;
  background-color: transparent;
  border-color: transparent;
  border-right: 2px solid rgb(240, 240, 240);
  color: #007bff;
  font-size: 1rem;
}

.edit-button {
  /* padding: 0px 7px; */
  margin-right: 10px;
  margin-top: -0.1rem;
  background-color: transparent;
  border-color: transparent;
  color: #007bff;
  font-size: 1rem;
}

.update-progress-button {
  padding: 7px;
}
@media only screen and (min-width: 750px) {
  .update-progress-button {
    transform: translate(55vw, -2.5rem);
  }
}
@media only screen and (min-width: 800px) {
  .update-progress-button {
    transform: translate(52vw, -2.5rem);
  }
}
@media only screen and (min-width: 900px) {
  .update-progress-button {
    transform: translate(45vw, -2.5rem);
  }
}
/* @media only screen and (max-width: 1000px) {
  .update-progress-button {
    transform: translate(43vw, -2rem);
  }
} */
@media only screen and (min-width: 1000px) {
  .update-progress-button {
    transform: translate(43vw, -1.5rem);
  }
}
@media only screen and (min-width: 1200px) {
  .update-progress-button {
    transform: translate(45vw, -1.5rem);
  }
}
@media only screen and (min-width: 1400px) {
  .update-progress-button {
    transform: translate(38vw, -1.5rem);
  }
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


/* CIRCULAR PROGRESS BAR: */
.progress-div {
}
@media only screen and (min-width: 600px) {
  .progress-div {
    border-right: 2px solid rgb(240, 240, 240);
    margin-top: 2rem;
    margin-left: -2rem;
    margin-right: 2rem;
  }
}

.progress-circle {
  display: inline;
  /* margin-bottom: 20px; */
  margin-top: -1.2rem;
  margin-right: 1rem;
  display: inline-block;
}
.progress-text {
  display: inline-block;
  transform: translateY(0.8rem);
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #007bff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* .circle-text {
  font-size: 2.5em;
  font-weight: bold;
  fill: #007bff;
} */
/* END OF CIRCULAR PROGRESS BAR */

.chapter-div {
  margin-top: 1.5rem;
  /* margin-left: 2rem; */
}
