.form-control::-webkit-input-placeholder { color: rgb(180, 180, 180); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgb(180, 180, 180); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgb(180, 180, 180); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgb(180, 180, 180); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgb(180, 180, 180); }  /* Microsoft Edge */

body {
  background-color: rgb(240, 240, 240);
}


.navbar-toggler {
 border-color: rgb(66,139,202);
}

.navbar-toggler:focus {
 outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(66,139,202)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 /*background-image with hexcode needed to change color of three lines (#FFFFFF is white) */
}

#category-select {
  margin-bottom: 10px;
}

.book-image {
  float: right;
  width: 100px;
  height: 150px;
}

.remove-btn {
  margin-right: 10px;
  float: left;
  padding: 0px 10px;
  font-size: 1.5rem;
}

.edit-button {
  padding: 0px 7px;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


/* Circular progress bar: */
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #007bff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5em;
  font-weight: bold;
  fill: #007bff;
}
/* End of circular progress bar */
